aws/
.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.gnupg/
.kube/
.landscape/
.motd_shown
.profile
.ssh/
.sudo_as_admin_successful
.systemd-env
.terraform.d/
.viminfo
.wget-hsts
snap/
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/AWStempCreds
terraform/TerraformAwsk8s/
terraform/main.tf
.aws/
ansible/

